@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark-primary: #24353e;
  /* este puede contener un 40 de opacidad */
  --color-dark-secondary: #1f2d34;
  --color-light-primary: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
/* background-image: url("../assets/fondo/Home (2).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
